<!DOCTYPE html>
<html>
<head>
    <title>About</title>
</head>
<body>

    <nav>
        <a href="/">Faerie Bakery</a>
        <a href="/articles">Articles</a>
        <a href="/generator">Recipes</a>
        <a href="/about">About</a>
        <a href="/login">Login</a>
    </nav>
    <h2>About Fae Bakery</h2>
    <p>Made with love.</p>
    
    <h3>Guestbook</h3>
    <form method="POST">
        <textarea name="comment" placeholder="Leave your message here!"></textarea><br>
        <button type="submit">Post</button>
    </form>
    
    <!--show saved comments-->

</body>
</html>
