<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <nav>
        <a href="/">Faerie Bakery</a>
        <a href="/articles">Articles</a>
        <a href="/generator">Recipes</a>
        <a href="/about">About</a>
        <a href="/login">Login</a>
    </nav>

    <h2>Login Failed</h2>
    <p>Incorrect username or password.</p>
    <a href="{{ url_for('login') }}">Try Again</a><br>
    <a href="{{ url_for('register') }}">Don't have an account? Register</a>

</body>
</html>
