<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <nav>
        <a href="/">Faerie Bakery</a>
        <a href="/articles">Articles</a>
        <a href="/generator">Recipes</a>
        <a href="/about">About</a>
        <a href="/login">Login</a>
    </nav>

    <h1>Log in</h1>
    <form action="/login" method="post">
        <label>Username:</label>
        <input type="text" name="username" id="username">
        <label>Password:</label>
        <input type="password" name="password" id="password">
        <button type="submit">Log in</button>
    </form>

</body>
</html>
